body {
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	border-color: #dddddd;
	background-image: url(../images/background.png);
	padding: 0px;
	width: 100%;
	clear: both;

}

.HeadDiv {
	height: 92px;
	background-color: #ffffff;
	border-bottom: solid 2px;
	border-color: #777777;
	/*width: 100%;*/
}

.header {
	width: 960px;
	height: 92px;
	background-color: #ffffff;
	border-bottom: solid 2px;
	border-color: #777777;
}


h1{
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 34px;
	font-weight: bold;
	color:#ffffff;
	background-color: #4aaaa5;
	text-align: center;
	float: left;
	margin-left:20px;
	padding:25px;

}

nav {
	background-color: #ffffff;
	color:#777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; 
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	float: right;	
	padding: 35px 0px 0px 0px;
	display: block;
	width: 28%;
	margin: 0px auto;
	/*position: fixed;*/


}

.navlinks {
	text-decoration: none;
	color: #777777;
	padding: 0px 10px;
  	word-wrap: normal;
  	border-right: solid 1px;
  	border-color: #777777;
  	text-align: center;
}

.navlinks:last-child {
	border-right: none;
}


.content {
	width: 960px;
	height: 100%;
}

aside {
	
	border: 1px solid;
	border-color: #cccccc;
	background-color: #ffffff;
	color: #777777;
	width:268px;
	height:175px;
    float: right;
    text-align: center;
}

.aside {
	width:260px;
	height:165px;
	padding: 25px 0px 0px 0px;

}

.sideHeader {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;
	font-size: 25px;
	color:#4aaaa5;
	padding-bottom: 10px;
}

.sideHR {

    height: 1px;
    border: 0;
    border-top: 2px solid #777777;
    margin: 1px;
    padding-bottom: 20px;
}

ul { 	
	height: auto;
	width: auto;
}
li {
	margin: 0;
	padding: 5px;
	list-style-type: none;
	display:inline;

}

.icon {
	height: 50px;
	width: 50px;
}

section {
	border-style: solid;
	border-width: 1px;
	border-color: #cccccc;
	background-color: #ffffff;
	color: #777777;
	width: 608px;
	height:auto;
	line-height: 1.5;
	padding: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	float: left;

}

.secHeader {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;
	font-size: 30px;
	color:#4aaaa5;
	padding-top: 10px;
	padding-bottom: 18px;
}

hr {
    height: 1px;
    border: 0;
    border-top: 2px solid #777777;
    margin: 1px;
    padding-bottom: 20px;
}

footer {
	border-top: 5px;
	border-style: solid;
	border-color: #4aaaa5;
	background-color: #666666;
	color: #9d9d9d;
	font-size: 12px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	margin-top: 20px;
	clear: both;
	position: relative;
  	box-sizing: border-box;
  	/*width: 100%;*/
	height: 100px;
	padding: 30px 0;
	text-align: center;
	margin-top: 20px;
}


.copyright {
	clear: both;
}


#profilepic {
	float:left;
	height: 175px;
	width: 175px;
	padding-right: 20px;
}


@media screen and (max-width: 768px) {
	body {
	 width: 100%;
	}
	
	.content {
		width: 80%;
		margin-left:15%;
	}

	nav {
/*	clear: both;
	width: 100%;*/
	padding:35px 320px 0px 0px;
	}

	section {
		width: 80%;
		clear: both;
		margin: auto;
		border-bottom-color: #ffffff;
		margin-bottom: 20px;
	}

	aside {
		float: left;
		width: 87%;
		/*margin: 0 auto;*/
		border-top-color: #ffffff;
		margin-bottom:20px;
	}

	div.aside {
		margin: 0px auto;
		width: 95%;
	}

	.sideHeader {
		text-align: left;
		padding-left: 15px;
	}

	ul {
		text-align: left;
		padding-left: 10px;
	}


}

@media screen and (max-width: 640px) {

	.header {
		clear: both;
		width:100%;
		text-align: center;
		/*padding: 0px;*/
		height: 80px;
	}

	h1 {
		clear: both;
		width: 100%;
		text-align: center;
		padding: 0px;
		margin: 0px auto;
		display: block;
		padding-top: 10px;
		padding-bottom:10px;
	}
	nav {
		clear: both;
		width: 100%;
		padding:35px 0px 10px 0px;
	}

	section {
		width: 100%;
		margin-bottom: 40px;
	}

	.content {
		margin: 40px;
		margin-top:20px;
	}

	aside {
		width: 108%;

	}

	div.aside {
		width: 100%;
		padding-top: 10px;
	}

	#profilepic {
	    height: 465.59px;
		width: 100%;
	    left: 28%;
	    padding: 0;
	    padding-bottom: 10px;	
	}

	p {
		clear: both;
	}

}

