.container {
	display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

footer {
	border-top: 5px;
	border-style: solid;
	border-color: #4aaaa5;
	font-size: 12px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	margin-top: 20px;
}

.foot-box {
    display: inline-block;
    width: 100%;
    height: 100px;
    background-color:#666666; 
    text-align: center;
    color: #9d9d9d;
    position:static;	
	left:0;
}

.relative {
	position: relative;
	height: 250px;
	width: 250px;
	display: inline-block;
	margin-bottom: 45px;
}

.absolute {
	position: absolute;
    left: 0;
    bottom:10px;
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: 23px;
    background-color: #4aaaa5;
    padding-top: 10px;
    color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

@media screen and (max-width: 768px) {

section {
	width: 100%;
}

.container {
	display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}



@media screen and (max-width: 640px) {
.relative {
	height: 350px;
	width: 350px;
}

